html, body {
    background: linear-gradient(0.25turn, #010B33, #12101B);
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    opacity: 0.61;
    margin: 18px;
    transition: ease-in-out 0.3s;
}

a:hover{
    opacity: 1 !important;
}

b {
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.4;
}

h1 {
    opacity: 0.86;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: 0px;
    line-height: 1.4;
}

h2 {
    opacity: 0.86;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 2rem;
    letter-spacing: 0px;
    line-height: 1.4;
}

h3 {
    margin-top: 45px;
    opacity: 0.86;
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.4;
    text-align: center;
}

p {
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1.8;
}

.Bar {
    height: 2px;
    width: 58px;
    box-shadow: 0px 0px 5px 0px #0cf493;
    background-color: #00f493;
}

.Menu {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    margin-top: 50px;
    z-index: 1000;
    height: 100px;
    background: linear-gradient(0.25turn, rgba(1, 11, 51, 0.93), rgba(18, 16, 27, 0.93));
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(15px);
}

.Links {
    display: inline;
    margin-top: 40px;
    margin-right: 160px;
}

.Section {
    height: 100vh;
}

.Landing {
    background-color: rgb(18, 18, 18);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    background-image: url("./Static/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0px -33px 26px 0px rgba(0, 0, 0, 0.12);
}

.LandingText {
    margin-left: 15%;
    margin-top: -20%;
}

.SubmitBtn {
    width: 147px;
    height: 39px;
    box-shadow: 0px 0px 11px 0px rgba(0, 254, 149, 0.66);
    background: linear-gradient(281deg, #08fdaf 0%, rgba(0, 246, 255, 0.69) 100%);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    cursor: pointer;
    transition: ease-in-out 0.1s;

    font-weight: 600;
    font-style: normal;
    font-family: "Montserrat", serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.SubmitBtn:hover {
    transform: scale(1.1);
}

.MoreBtn {
    margin: 16px;
    width: 147px;
    height: 39px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.42);
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out 0.1s;

    font-weight: 600;
    font-style: normal;
    font-family: "Montserrat", serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.MoreBtn:hover {
    transform: scale(1.1);
}


.SectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProductsContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ProductCard {
    width: 22vw;
    height: 40vh;
    margin: 30px;
    margin-top: 0;
    padding: 80px;
    box-shadow: 0px -10px 33px 0px rgba(0, 0, 0, 0.5);
    background: linear-gradient(302deg, #12101b 0%, #010b33 100%);
    overflow: visible;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ProductSubTitle {
    text-shadow: 0px 0px 8px #cc3600;
    opacity: 0.81;
    font-weight: 400;
    font-style: normal;
    color: #ff4400;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.ProductSubTitle2 {
    margin-top: 36px;
    text-shadow: 0px 0px 8px #c20000;
    opacity: 0.81;
    font-weight: 400;
    font-style: normal;
    font-family: "Montserrat", serif;
    color: #c20000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.ProductBtn {
    margin-top: 20px;
    width: 147px;
    height: 39px;
    box-shadow: 0px 0px 11px 0px #ff4400;
    background-color: #ff4400;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    cursor: pointer;
    transition: ease-in-out 0.1s;

    opacity: 0.81;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.ProductBtn:hover {
    transform: scale(1.1);
}

.Soon {
    margin-top: 180px;
    opacity: 0.66;
    font-weight: 600;
    font-style: normal;
    color: #fcfcfc;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;
}

.Carosel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.BlogCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
    width: 20vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

input {
    width: 40vw;
    height: 58px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    color: white;
    transition: ease-in-out 0.5s;

    font-weight: 100;
    font-style: normal;
    font-family: "Montserrat", serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.4;
  }
  
input:focus, input:active{
    outline: none;
    border-color: #00f493;
}

textarea {
    width: 40vw;
    height: 20vh;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color: white;
    margin-bottom: 50px;
    transition: ease-in-out 0.5s;

    font-weight: 100;
    font-style: normal;
    font-family: "Montserrat", serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.4;
}
  
textarea:focus, textarea:active{
    outline: none;
    border-color: #00f493;
}

.Facts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Fact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.Footer {
    height: 35vh;
    width: 100%;
    background: linear-gradient(0.25turn, rgba(135, 135, 135, 0.11), rgba(51, 51, 51, 0.38));
    opacity: 0.52;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterLinks {
    margin: 50px;
    margin-bottom: 130px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
}

.FooterLinkGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.LinkGroupTitle {
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.4;
}

.LinkName {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.4;
}

.Copyright {
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.4;
}